body{
  background-color: aquamarine;
  
}
.App{
  display: grid;
  grid-template-columns: 600px 600px ;
  justify-content: space-between;
  padding: 10px;
}
.card{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  padding-bottom: 1%;
  margin-bottom: 10%;
  border-radius: 20%
}
.cardtitle{
  font-size: 30px;
  font-weight: bold;
}
